@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F0F0;
  font-family: 'DM Sans', sans-serif;
  color: #16160C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}
